* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
h1{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  color: aliceblue;
}

header {
  display: flex;
  justify-content: center;
  background-color: gray;
  height: 100px;
}
header img {
  height: 70px;
}
.header-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(55, 138, 55);
  width: 60%;
  /* max-width: 1200px; */
}

.into-header {
  margin:10px 30px;
  width: 20%;
}
#list {
  border: 2px solid red;
}
#form {
  border: 2px solid black;
}
#hist {
  border: 2px solid pink;
}
#list, #form, #hist {
  display: inline-block;
  width: 33%;
  height: 100vh;
  vertical-align: top;
  padding: 40px;
}
main {
  height: 100vh;
}
footer {
  background-color: greenyellow;
}
.copy-left {
  display:inline-block;
  transform: rotate(180deg)
}