* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
header h1{
  text-align: center;
  width: 100%;
  color: #28a745;
  font: bold 50px 'Lato', sans-serif
}

header {
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid #ccc;
  height: 100px;
}
header img {
  height: 70px;
}
.header-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  /* max-width: 1200px; */
}
.row {
  padding-top: 20px;
}
.into-header {
  margin:10px 30px;
  width: 30%;
}

#list, #form, #hist {
  display: inline-block;
  width: 33%;
  height: 82vh;
  vertical-align: top;
  padding: 40px;
  background: #f5f5f5a3;
}
section#form {
  background: #f8f8f8a3;
}
main h1, form label{
  font-size: 30px;
  font-weight: bold;
  display: block;
}
form label {
  text-align: center;
}
#shopping {
  width: 90%;
  margin: auto;
  border: 1px solid #ccc;
  background-color: white;
  padding: 5px;
}
#shopping input{
  width: 70%;
  border: none;
}
#shopping select{
  width: 28%;
  border: none;
  background-color: white;
}
form .btn{
  display: block;
  margin: 15px auto;
  width: 90%;
}
footer {
  text-align: center;
  background-color: #28a745;
  color: white;
  padding: 25px 6px;
  font-size: 18px;
}
footer a, footer a:hover{
  color: white;
}
.copy-left {
  display:inline-block;
  transform: rotate(180deg)
}

#list {
  overflow-y: hidden;
  overflow-y: scroll;
}